$table-border-colour: #d5d5d5;
$table-header-background: linear-gradient(#eee 0%, #ccc 100%);

$dragbar-color: #b38b0d;

// 3d-effect borders, drag handles
$th-border-right: #bbb;
$th-border-left: #fff;

$progress-border-color: #bbb;
$progress-fill-color: #8d8;

$white: #fff;

@mixin unselectable {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#preferences {
  display: none;
  position: absolute;
  z-index: 1000;
  margin: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 15px 5px #aaa;
  background: #f2f2f2;
  padding: 5px;
  width: 200px;
  height: 200px;

  &.visible {
    display: block;
  }
}

.context-menu {
  z-index: 1000;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 15px 5px #aaa;
  background: #f3f3f3;
}

#dragbar {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 5;
  border-left: 1px solid $dragbar-color;
  width: 1px;

  &.visible {
    display: block;
  }
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: Tahoma;
  font-size: 11px;
}

.torrent-status {
  font-size: .5rem;

  &.seeding {
    color: #181;
  }

  // downloading
  &.downloading {
    color: #38e;
  }

  &.paused {
    color: #d80;
  }

  &.stopped {
    color: #ccc;
  }

  // hashing
  &.hashing {
    color: #777;
  }
}

.text-right {
  text-align: right;
}

.resizing-x {
  cursor: col-resize;
}

.navigation {
  border-bottom: 1px solid $table-border-colour;
  height: 30px;
  background: #eee;
}

.torrents { // section
  height: calc(100vh - 230px); // combined navigation and footer height
  overflow: auto;

  &.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10rem;
  }
}

.footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  bottom: 0;
  border-top: 1px solid $table-border-colour;
  background: #eee;
  width: 100%;
  height: 200px;
  padding: 5px;
}

.speed-chart {
  background: #fff;
  width: 450px;
  border: 1px solid #888;

  &:hover {
    width: 90%;
    height: auto;

    position: absolute;
    bottom: 5px;
    right: 5px;
  }
}

.progress-container {
  position: relative;

  progress {
    border: 1px solid $progress-border-color;
    background-color: inherit;
    width: 100%;
    height: 16px;
    vertical-align: middle;
    color: $progress-fill-color;

    -webkit-appearance: none;
    appearance: none;

    &::-webkit-progress-bar {
      background-color: inherit;
    }

    &::-moz-progress-bar {
      background-color: $progress-fill-color;
    }

    &::-webkit-progress-value {
      background-color: $progress-fill-color;
    }
  }

  span {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: smaller;
  }
}

table {
  @include unselectable;

  position: relative;
  //table-layout: fixed;
  border-spacing: 0;
}

thead {
  position: sticky; // don't scroll off top
  top: 0;
  z-index: 1; // stop progress-bars overlaying headers
}

th {
  position: relative; // so the dragbar can anchor to the right

  border-right: 1px solid $th-border-right;
  border-bottom: 1px solid $table-border-colour;
  border-left: 1px solid $th-border-left;

  background: $table-header-background;

  // changing this 4px l/r padding requires a change in elm.
  // see TorrentTable widthAttribute methods
  padding: 4px;

  text-align: left;

  &:first-child {
    border-left: 0;
  }

  &:last-child {
    border-right: 0;
  }

  &.sorted {
    &.descending {
      background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='50' style='fill:none;stroke:currentColor;stroke-width:5'><polygon points='0,0 100,0 50,50'/></svg>") calc(100% - 2px) center / 10px no-repeat, $table-header-background;
    }

    &.ascending {
      background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='50' style='fill:none;stroke:currentColor;stroke-width:5'><polygon points='50,0 0,50 100,50'/></svg>") calc(100% - 2px) center / 10px no-repeat, $table-header-background;
    }
  }

  .size { // width style applied by elm
    .content { // actual content with padding in here (room for sort arrow)
      cursor: default;
      padding-right: 10px;
    }
  }

  .resize-handle {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    margin-right: -3px;
    cursor: col-resize;
    width: 6px;
    height: 100%;
  }
}

td {
  border-bottom: 1px solid $table-border-colour;

  // changing this 4px l/r padding requires a change in elm.
  // see TorrentTable widthAttribute methods
  padding: 3px 4px;

  div { // cell content to apply width style to
    overflow: hidden;
    white-space: nowrap;
  }
}
