$table-border-colour: #ddd;
$table-header-background: #eee;

$progress-fill-color: #0b0;

$white: #fff;

@mixin unselectable {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#preferences {
  display: none;
  position: absolute;
  z-index: 1000;
  border: 2px outset #555;
  background: $white;
  width: 200px;
  height: 200px;
  padding: 5px;

  &.visible {
    display: block;
  }
}

#dragbar {
  display: none;
  z-index: 500;

  position: absolute;
  width: 1px;
  border-left: 1px solid #b38b0d;
  height: 100%;
  cursor: col-resize;

  &.visible {
    display: block;
  }
}

body {
  font-family: Tahoma;
  font-size: 11px;

  margin: 0;
}

.text-right {
  text-align: right;
}

.resizing-x {
  cursor: col-resize;
}

table {
  @include unselectable;

  border: 1px solid $table-border-colour;
  border-spacing: 0;
  overflow: scroll;
  table-layout: fixed;
}

td,
th {
  padding: 4px;
}

th {
  //position: sticky; // don't scroll off top
  //top: 0;

  position: relative; // so the div can anchor to the right

  background-color: $table-header-background;
  text-align: left;

  border-bottom: 1px solid $white;
  border-left: 1px solid #bbb;

  &.sorted {
    background-repeat: no-repeat;
    background-position: calc(100% - 1px) center;
    background-size: 10px;

    &.descending {
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='50' style='fill:none;stroke:currentColor;stroke-width:5'><polygon points='0,0 100,0 50,50'/></svg>");
    }

    &.ascending {
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='50' style='fill:none;stroke:currentColor;stroke-width:5'><polygon points='50,0 0,50 100,50'/></svg>");
    }
  }

  span { // header string
    cursor: default;
    padding-right: 14px;
  }

  div { // resize bar, rendered as a white line to act like right border of the cell
    position: absolute;
    border-right: 1px solid $white;
    cursor: col-resize;
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
  }
}

td {
  border-top: 1px solid $table-border-colour;

  div { // cell content so fixed sizes work
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

progress {
  border: 1px inset #888;
  background-color: inherit;
  width: 100%;
  height: 12px;
  color: $progress-fill-color;

  -webkit-appearance: none;
  appearance: none;

  &::-webkit-progress-bar {
    background-color: inherit;
  }

  &::-moz-progress-bar {
    background-color: $progress-fill-color;
  }

  &::-webkit-progress-value {
    background-color: $progress-fill-color;
  }
}
