$main-fg-color: #000;

$main-bg-color: #fff;
$secondary-bg-color: #eee;

$window-border-color: #bbb;
$window-background-color: #f2f2f2;

$section-divider-bar-color: #d5d5d5;

$table-border-colour: #d5d5d5;
$table-header-background: linear-gradient(#eee 0%, #ccc 100%);

$dragbar-color: #b38b0d;

// 3d-effect borders, drag handles
$th-border-right: #bbb;
$th-border-left: #fff;

$progress-border-color: #bbb;
$progress-fill-color: #8d8;

$selected-row-color: #fff;
$selected-row-background-color: #3c82f6;
$selectable-hover-background-color: lighten($selected-row-background-color, 30%);

$sidebar-width: 170px;
$main-width: calc(100vw - #{$sidebar-width});

$header-height: 40px;
$details-height: 200px;
$summary-height: 20px;
// 2.3 is magic, determined by seeing how high speed-chart was when left to auto
$speed-chart-height: calc(#{$sidebar-width} / 2.3);
$torrent-groups-height: calc(100vh - #{$summary-height} - #{$speed-chart-height} - #{$header-height});
$torrents-height: calc(100vh - #{$summary-height} - #{$details-height} - #{$header-height});

$thead-z-index: 1; // stop progress-bars overlaying headers
$dragbar-z-index: 10;
$resize-handle-z-index: 11;
$speed-chart-z-index: 15;
$window-z-index: 20;
$messages-z-index: 30;
$hamburger-menu-z-index: 40;
$context-menu-closer-z-index: 50;
$context-menu-z-index: 51;

@mixin obsfucate {
  color: transparent;
  text-shadow: 0 0 7px rgba(0, 0, 0, .7);
}

@mixin unselectable {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  cursor: default;
}

@mixin translucent-popup {
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  background: rgba(255, 255, 255, .6);
}

:focus {
  outline: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,sans-serif;
  font-size: 14px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.text-right {
  text-align: right;
}

.flex {
  display: flex;
}

.resizing-x * {
  cursor: col-resize;
}

.ns-draggable {
  cursor: ns-resize;
  color: #999;
  font-size: 8px;
}

.context-menu-closer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: $context-menu-closer-z-index;
  width: 100%;
  height: 100%;
}

.context-menu {
  // positioning done in elm and custom element javascript
  z-index: $context-menu-z-index;

  li {
    padding: 4px 10px;
  }
}

.hamburger-menu {
  // relative to hamburger-button
  top: 0;
  right: 0;
  z-index: $hamburger-menu-z-index;

  li {
    padding: 6px 10px;
  }
}

.context-menu,
.hamburger-menu {
  @include unselectable;
  @include translucent-popup;

  position: absolute;
  border: 1px solid $window-border-color;
  border-radius: 5px;
  box-shadow: 0 0 15px 3px #ccc;
  padding: 5px 0;
  white-space: nowrap;

  li {
    display: flex;
    align-items: center;
    margin: 0 5px;
    border-radius: 5px;

    &:hover {
      background: $selected-row-background-color;
      color: $selected-row-color;
    }
  }

  .wide {
    flex-grow: 1;
  }

  i {

    font-size: 8px;
  }

  .icon-left {
    margin-right: 5px;
  }

  .icon-right {
    margin-left: 5px;
  }

  .disabled {
    color: #aaa;
  }
}

.dragbar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: $dragbar-z-index;
  background: $dragbar-color;
  cursor: col-resize;
  width: 1px;
}

.window {
  display: none;
  position: absolute;
  z-index: $window-z-index;
  margin: 40px;
  border: 1px solid $window-border-color;
  border-radius: 5px;
  box-shadow: 0 0 15px 10px #888;
  background: $window-background-color;
  // works great in Firefox, not so much Safari.
  min-width: 200px;
  min-height: 200px;
  overflow-y: auto;
  resize: both;

  &.visible {
    display: block;
  }

  .titlebar {
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    align-items: center;
    border-bottom: 1px solid #999;
    background: $table-header-background;
    width: 100%;
    height: 30px;
    font-size: 16px;
  }

  .close-icon {
    margin: 10px;
    color: #a00;

    &:hover {
      color: #f00;
    }
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $section-divider-bar-color;
  background: $secondary-bg-color;
  padding: 5px;
  height: $header-height;
}

.filter {
  display: flex;
  margin-right: 5px;
  width: 300px;

  input {
    border: 1px solid #aaa;
    border-left: 0;
    padding: 5px;
  }

  &.error {
    background: #ecc;
  }
}

.hamburger-button {
  display: flex;
  position: relative;
}

.messages {
  position: absolute;
  top: $header-height - 10px; // 10px margin on first li
  right: 5px;
  z-index: $messages-z-index;

  li {
    margin: 10px 0;
    border-radius: 5px;
    padding: 10px;
  }
}

.preferences {
  width: 400px;
  height: 600px;

  ol {
    flex-grow: 1;
    margin: 0;
    padding-left: 10px;
  }

  .column {
    display: flex;
    margin: 5px 0;
    padding: 5px;

    i { margin-right: 10px; }
  }

  .column-moving {
    background: inherit;
    color: #aaa;
  }

  .column-visible {
    background: #ddd;
  }

  .column-hidden {
    background: #eee;
    color: #aaa;
  }
}

.fieldset-header {
  background: $main-bg-color;
  padding: 10px;
}

.preference {
  display: flex;
  margin: 10px;
  padding: 10px 0;
}

.preference-label {
  width: 100px;
}

.preference-option {
  display: flex;
  padding: 10px;

  input {
    // this feels wrong, its just to try and line up the radio buttons with labels :(
    margin-top: 3px;
  }

  &:first-child {
    padding-top: 0;
  }
}

.preference-text {
  display: inline-block;
  padding-left: 5px;

  small {
    display: block;
    color: #555;
  }
}

.logs {
  width: calc(100% - 80px);
  height: 600px;

  ol {
    padding: 0;

    li {
      display: flex;
      margin: 10px;
      background: #fafaaf;
      padding: 10px;
    }
  }

  .content {
    margin-left: 20px;
  }
}

.messages,
.logs {
  .time {
    display: block;
    font-size: 12px;
    font-weight: bold;
  }

  .error {
    border: 1px solid #ecc;
    background: #fdd;
    color: #811;
  }

  .warning {
    border: 1px solid #ec9;
    background: #fda;
    color: #761;
  }

  .info {
    border: 1px solid #cdc;
    background: #ded;
    color: #484;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: space-between;
  border-right: 1px solid $section-divider-bar-color;
  width: $sidebar-width;
}

.main {
  flex-grow: 1;
  background: $secondary-bg-color;
  width: $main-width;
}

.torrent-groups {
  @include unselectable;

  display: flex;
  flex-direction: column;
  background: $main-bg-color;
  cursor: default;
  height: $torrent-groups-height;
  overflow: auto;
  font-size: 12px;

  .header {
    margin: 0;
    border-top: 1px solid $section-divider-bar-color;
    background: $table-header-background;
    padding: 5px;
    font-size: 10px;
    font-variant: small-caps;
  }

  button {
    align-self: stretch;
    padding: 5px;
  }

  hr {
    border: 0;
    border-top: 1px solid #ddd;
  }

  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px;

    &:hover {
      background: $selectable-hover-background-color;
    }

    &.selected {
      background: $selected-row-background-color;
      color: $selected-row-color;
    }
  }

  .label {
    display: flex;
    align-items: center;
    overflow: hidden; // hide excess state/label/tracker strings
  }

  i,
  .favicon {
    margin-right: 5px;
  }

  .favicon {
    width: 16px;
    height: 16px;
  }
}

.torrent-table {
  height: $torrents-height;
  overflow: auto;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
}

.details {
  border-top: 1px solid $section-divider-bar-color;
  background: $secondary-bg-color;
  height: $details-height;
}

.details-table {
  height: $details-height;
}

.speed-chart {
  border-top: 1px solid $section-divider-bar-color;
  background: $main-bg-color;

  &:hover {
    @include translucent-popup;

    position: absolute;
    bottom: $summary-height;
    left: 5px;
    z-index: $speed-chart-z-index;
    border: 1px solid #888;
    width: 90%;
    height: auto;
  }
}

.summary {
  display: flex;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  border-top: 1px solid $section-divider-bar-color;
  background: $secondary-bg-color;
  padding: 2px;
  width: 100%;
  height: $summary-height;
  white-space: nowrap;
  font-size: 10px;

  .connected {
    color: #080;
  }

  .disconnected {
    color: #f00;
  }
}

.system-info {
  display: flex;
  align-items: center;
  padding: 0 5px;

  .fas {
    padding-left: 5px;
  }
}

.session-traffic {
  display: flex;
  align-items: center;

  .fas {
    padding-right: 5px;
  }

  .stat {
    border-right: 1px solid #888;
    padding: 0 5px;
  }
}

.torrent-status {
  font-size: 8px;

  &.seeding {
    color: #292;
  }

  &.active {
    color: #292;
  }

  &.inactive {
    color: #999;
  }

  &.errored {
    color: #a22;
  }

  &.downloading {
    color: #38e;
  }

  &.paused {
    color: #d80;
  }

  &.stopped {
    color: #ccc;
  }

  &.hashing {
    color: #777;
  }
}

.progress-container {
  position: relative;

  .progress {
    border: 1px solid $progress-border-color;
    background: inherit;
    width: 100%;
    height: 16px;
    vertical-align: middle;
    color: $progress-fill-color;

    -webkit-appearance: none;
    appearance: none;

    &::-webkit-progress-bar {
      background: $main-bg-color;
    }

    &::-moz-progress-bar {
      background: $progress-fill-color;
    }

    &::-webkit-progress-value {
      background: $progress-fill-color;
    }
  }

  .progress-text {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: $main-fg-color; // override tr.selected
    font-size: 9px;
  }
}

table {
  background: $main-bg-color;
  border-spacing: 0;
  font-size: 11px;

  &.fixed {
    table-layout: fixed;
  }
}

thead {
  @include unselectable;

  position: sticky;
  top: 0;
  z-index: $thead-z-index; // stop progress-bars overlaying headers
}

tr {
  &:hover {
    background: $selectable-hover-background-color;
  }

  &.selected {
    background: $selected-row-background-color;
    color: $selected-row-color;
  }
}

th {
  position: relative; // so the dragbar can anchor to the right

  border-right: 1px solid $th-border-right;
  border-bottom: 1px solid $table-border-colour;
  border-left: 1px solid $th-border-left;
  background: $table-header-background;

  padding: 4px var(--table-header-cell-r-padding) 4px var(--table-cell-lr-padding);

  text-align: left;

  &:first-child {
    border-left: 0;
  }

  &:last-child {
    border-right: 0;
  }

  &.sorted {
    &.descending {
      background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='50' style='fill:none;stroke:currentColor;stroke-width:5'><polygon points='0,0 100,0 50,50'/></svg>") calc(100% - 2px) center / 10px no-repeat, $table-header-background;
    }

    &.ascending {
      background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='50' style='fill:none;stroke:currentColor;stroke-width:5'><polygon points='50,0 0,50 100,50'/></svg>") calc(100% - 2px) center / 10px no-repeat, $table-header-background;
    }
  }

  .resize-handle {
    position: absolute;
    top: 0;
    right: 0;
    z-index: $resize-handle-z-index;
    margin-right: -3px;
    cursor: col-resize;
    width: 6px;
    height: 100%;
  }
}

td {
  border-bottom: 1px solid $table-border-colour;

  padding: 2px var(--table-cell-lr-padding);
  height: var(--table-cell-height);

  overflow: hidden;
  white-space: nowrap;
}

fieldset {
  margin: 10px;
  padding: 0;
}
